.bid-div {
  display: flex;
  flex-grow: 1;
  padding: 0.5em;
  font-size: large;
  height: fit-content;
  position: relative;
  overflow-y: auto;
}
@media screen and (max-width: 960px) {
  .bid-div {
    flex-direction: column;
  }
}
