.forgotPassPage {
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
  height: 100vh;
}
.forgotPassPage img {
  position: relative;
  margin-bottom: 20px;
  margin-top: 180px;
}
.logoForgotPass {
  height: 80px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 100px;
  margin-bottom: 20px;
}

.forgotPassForm {
  display: flex;
  justify-content: center;
  width: 100%;
}
.forgotPasswordSection {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 1.39em;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.emailInput {
  width: 80%;
  font-size: 1.1em;
  padding: 5px 10px;
  border: none;
  border-radius: 1.39em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.forgotPassPage .btn--mbl,
.rgstBtn,
.emailInput {
  margin-bottom: 10px;
}

.rgstBtn {
  font-size: 1em;
  border-radius: 1.29em;
  border: 2px solid #030303;
  color: white;
  background-color: #030303;
  height: 100%;
  padding: 0.5em 0.8em;
}

.rgstBtn:hover {
  cursor: pointer;
  background-color: rgb(65, 234, 212);
  color: #030303;
  border-color: #41ead4;
}
