* {
  font-family: "Varela Round";
  text-decoration: none;
  color: #fca311;
}

.navbar {
  margin: 0.5em;
  height: 3em;
  font-size: large;
  width: 100%;
  border-radius: 1.29em;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.navbar-container {
  display: flex;
  width: inherit;
  height: inherit;
  align-items: center;
  position: relative;
}

.navbar-element {
  height: 80%;
  align-items: center;
  display: flex;
  position: absolute;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.navbar-container ul li {
  margin-left: 2em;
}

.navbar-logo {
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 50px;
}
.navbar-logo img {
  width: inherit;
}
.navbar-balance {
  right: 10.5em;
}

.navbar-mycart {
  right: 4.5em;
}

.navbar-icon {
  left: 1em;
  display: none;
}

.profilePicture {
  width: calc(0.8 * 3em);
  border-radius: calc(0.8 * 3em / 2);
  right: 1em;
}

.navbar-container span {
  font-size: 1em;
  margin-left: 0.2em;
}

.navbar-container .btn--mbl {
  position: absolute;
  right: 2em;
  display: none;
}

@media screen and (max-width: 960px) {
  .navbar-container {
    height: 90vh;
  }
  .navbar-element {
    height: calc(0.8 * 3em);
  }
  .navbar-logo,
  .navbar-icon,
  .profilePicture,
  .navbar-balance {
    top: 0.3em;
  }

  .navbar-icon {
    display: flex;
  }
  .navbar-container ul {
    top: 9em;
    width: 100%;
    height: 9em;
    flex-direction: column;
  }
  .navbar-container ul li {
    height: 3em;
    margin-left: 0;
    display: flex;
    align-items: center;
  }

  .navbar-mycart {
    height: 3em;
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .navbar-balance {
    background-color: rgba(255, 255, 255, 0.25);
    top: 0.7em;
    right: 4em;
    height: fit-content;
    border-radius: 1em;
    padding: 0.2em;
    z-index: 999;
  }
  .navbar-mycart {
    top: 18em;
    border-bottom-left-radius: 1.29em;
    border-bottom-right-radius: 1.29em;
  }

  .navbar-container ul,
  .navbar-mycart {
    left: -110%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(10px);
    transition: left 0.6s ease;
  }
  .navbar-container .active {
    left: 0;
    transition: left 0.6s ease;
  }
}
