.search input {
  padding: 1em;
  font-size: 1.1em;
  height: 1.5em;
  border-radius: 1.5em;
  border: none;
  background-color: #000;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.35);
  box-sizing: border-box;
  width: 100%;
  color: white;
}

.search {
  right: 15em;
  width: 400px;
}

.search-icon {
  margin-left: -1.8em;
  font-size: 1em;
  color: white;
}
.search input::placeholder {
  color: white;
}

@media screen and (max-width: 960px) {
  .search {
    width: 70%;
  }
}
