#root {
  display: flex;
  position: absolute;
  flex-direction: column;
  padding: 0;
  margin: 0;
  /* background-image: url("./images/background.jpeg"); */
  background-color: #e5e5e5;
  overflow: hidden;
}
